*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, select, textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

body::before {
  content:'';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header{
  width: 319px;
  margin-top: 74px;
}

header h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;

  margin-bottom: 24px;
}

header p {
  font-size: 16px;
  line-height: 26px;

  color: #42D3FF;
}

form {
  margin-top: 38px;
  background: #FAFAFC;
  border-radius: 8px 8px 0 0;
  min-height: 300px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;

}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #a9a7af;
}

.input-wrapper label span:hover{
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select{
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;
}

.input-wrapper textarea{
  padding: 0;
  height: 168px;
}

.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg fill='%23000000' height='800px' width='800px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 203.079 203.079' xml:space='preserve'%3E%3Cpath d='M192.231,104.082V102c0-12.407-10.094-22.5-22.5-22.5c-2.802,0-5.484,0.519-7.961,1.459 C159.665,70.722,150.583,63,139.731,63c-2.947,0-5.76,0.575-8.341,1.61C128.667,55.162,119.624,48,109.231,48 c-2.798,0-5.496,0.541-8,1.516V22.5c0-12.407-10.094-22.5-22.5-22.5s-22.5,10.093-22.5,22.5v66.259 c-3.938-5.029-8.673-9.412-14.169-11.671c-6.133-2.52-12.587-2.219-18.667,0.872c-11.182,5.686-15.792,19.389-10.277,30.548 l27.95,56.563c0.79,1.552,19.731,38.008,54.023,38.008h40c31.54,0,57.199-25.794,57.199-57.506l-0.031-41.491H192.231z M135.092,188.079h-40c-24.702,0-40.091-28.738-40.646-29.796l-27.88-56.42c-1.924-3.893-0.33-8.519,3.629-10.532 c2.182-1.11,4.081-1.223,6.158-0.372c8.281,3.395,16.41,19.756,19.586,29.265l2.41,7.259l12.883-4.559V22.5 c0-4.136,3.364-7.5,7.5-7.5s7.5,3.364,7.5,7.5V109h0.136h14.864h0.136V71c0-4.187,3.748-8,7.864-8c4.262,0,8,3.505,8,7.5v15v26h15 v-26c0-4.136,3.364-7.5,7.5-7.5s7.5,3.364,7.5,7.5V102v16.5h15V102c0-4.136,3.364-7.5,7.5-7.5s7.5,3.364,7.5,7.5v10.727h0.035 l0.025,32.852C177.291,169.014,158.36,188.079,135.092,188.079z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
  background-size: 20px;
}

.col-3 {
  display: flex;
  gap: 20px;
}


.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label{
  font-size: 14px;
  line-height: 24px;
  gap: 16px;
  color: #4E4958;

  display: flex;
  align-items: center;
}

.checkbox-wrapper input {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 2px;
  top: 2px;
  opacity: 0;
  
}

.checkbox-wrapper label::before {
  content:'';
  width: 24px;
  height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}


.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  background: #f0f0f4;
  
  height: 136px;

  display: flex;
  flex-direction: column;
  
  justify-content: center;
  
  padding: 40px 64px;
  
  margin-bottom: 100px;

  border-top: #D6D6D6 solid 1px;

  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  background: #04D361;
  border: 0;
  color: white;
  border-radius: 8px;

  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

footer .button:hover {
  background: #05a54d;
}

input:invalid {
 border: 1px solid #FF1010;
}

#event-tittle:invalid{
  border: 1px solid purple;
}